.body {
    background-image: url(https://img.freepik.com/vector-gratis/coleccion-nubes-dibujos-animados_23-2149006445.jpg?w=1380&t=st=1663798339~exp=1663798939~hmac=977d2e4dd0c1cbac172786ddfba1e7286a5dec728b654b2261c688e1519a76ab);
    background-repeat: repeat;
}
.backgroundNaruto {
    background-image: url(https://preview.redd.it/gfjv18qcqcx61.png?width=1920&format=png&auto=webp&s=1b1cbb4472620329ddbb63842c2ec451d246e94a);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.bodyBlackClover {
    background-image: url(https://images-ext-2.discordapp.net/external/gE4wTXSg6O7hw02cr0A5-IozqY77JR_0dLnYLPaVWU0/%3Fcb%3D20200914201633%26path-prefix%3Des/https/static.wikia.nocookie.net/blackclover/images/5/50/Wiki-background/revision/latest);
    background-repeat: repeat;
}
.backgroundIndex {
    background-image: url(https://3.bp.blogspot.com/-g31_rqzTK6Y/XIkaFZH8zNI/AAAAAAAAAgo/TxT0I8EQ4asm0D39LHwDPVOof7FiyeSVACKgBGAs/w919/sky-city-scenery-horizon-landscape-anime-uhdpaper.com-8K-131.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.bodyTokyoGhoul {
    background-image: url(https://i.redd.it/qg8cwtnyuqxz.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}