.carousel {
    width: 70%;
    margin: 0 auto;
}

.featuredArticleBlackClover img {
    width: 50%;
}

.introductionBlackClover img {
    width: 40%;
}

.featuredNaruto img {
    width: 50%;
}

.narutoIntroduction img {
    width: 50%;
}

.featuredTokyoGhoul img {
    width: 80%;
}

.introductionTokyoGhoul img {
    width: 50%;
}

.featuredOnePiece img {
    width: 20%;
}

.imagen img {
    width: 20%;
}

.featuredTokyoGhoul div {
    margin: 0 auto;
    width: 60%;
}

.featuredNaruto div {
    margin: auto;
    width: 50%;
}

.featuredArticleBlackClover {
    margin: auto;
    width: 60%;
}

.narutoIntroduction img{
    width: 40%;
}

.BlackCloverIntroduction img{
    width: 30%;
}