.summaryIndex h4 {
    display: flex;
}

.summaryIndex ol,
h3 {
    list-style-type: decimal;
    text-decoration: underline;
}

.summaryIndex div {
    margin-top: 5%;
}

.summaryIndex li {
    font-size: 0.5rem;
}

.summary {
    border: 0.1rem solid black;
    width: 25%;
    margin-left: 10%;
    font-size: 0.8rem;
}
.summaryIndex {
    margin-top: 5%;
}
.aboutOnePiece {
    margin-top: 3%;
}

#sectionsTokyoGhoul {
    margin-top: 3%;
}

.aboutTokyoGhoul {
    margin-top: 3%;
}

#sectionsNaruto {
    margin-top: 3%;
}

.whatIsNaruto {
    margin-top: 3%;
}

#sectionsBlackClover {
    margin-top: 3%;
}

.introductionIndex div {
    margin-top: 40px;
}