#main {
    margin: 5% auto;
    background-color: map-get($paleta_de_colores,light_blue);
    border: 1px solid black;
    width: 80%;
    @include align-flex-text-font-size-line-direction-decoration;
}

#mainTokyoGhoul {
    margin: 100px auto;
    background-color: map-get($paleta_de_colores,cloud);
    border: 1px solid black;
    width: 80%;
    @include align-flex-text-font-size-line-direction-decoration;
}

#mainNaruto {
    margin: 50px auto;
    background-color: map-get($paleta_de_colores,cloud);
    border: 0.1rem solid black;
    width: 80%;
    @include align-flex-text-font-size-line-direction-decoration;
}

#mainBlackClover {
    margin: 20px auto;
    background-color: map-get($paleta_de_colores,cloud);
    border: 1px solid black;
    width: 80%;
    @include align-flex-text-font-size-line-direction-decoration;
}

#mainIndex {
    margin-left: 5%;
    margin-bottom: 3%;
    margin-top: 3%;
    background-color: map-get($paleta_de_colores,cloud);
    width: 90%;
    border: 0.1rem solid black;
    @include align-flex-text-font-size-line-direction-decoration;
}

.etimology__h2 h2 {
    @include border-decoration;
    background-color: map-get($paleta_de_colores,light_W);
    width: 20%;
    margin: 0 auto;
}
.introduction h1{
    width: 40%;
}

main h1 {
    margin: 3% auto;
    @include border-decoration;
    background-color: map-get($paleta_de_colores,light_w);
    width: 20%;
    font-size: 1rem;
}
.aboutBlackClover h3 {
    margin: 3% auto;
    align-items: center;
    @include border-decoration;
    background-color: map-get($paleta_de_colores,light_w);
    width: 50%;
}

.featuredArticleBlackClover h2 {
    margin: auto;
    width: 40%;
    background-color: map-get($paleta_de_colores,light_w);
    @include border-decoration;
}

.whatIsNaruto p {
    font-size: 1rem;
}

.featuredNaruto h2 {
    @include border-decoration;
    background-color: map-get($paleta_de_colores,light_w);
}

.whatIsNaruto h3 {
    margin: auto;
    align-items: center;
    @include border-decoration;
    background-color: map-get($paleta_de_colores,light_w);
    width: 40%;
}

.recommendationsTokyoGhoul h2 {
    margin: 40px auto;
    @include border-decoration;
    background-color: map-get($paleta_de_colores,light_w);
}

.aboutTokyoGhoul h2 {
    @include border-decoration;
    background-color: map-get($paleta_de_colores,light_w);
    font-size: 1.5rem
}

.featuredTokyoGhoul h2 {
    @include border-decoration;
    background-color: map-get($paleta_de_colores,light_w);
    font-size: 2rem;
}

span {
    color: map-get($paleta_de_colores,light_w);
}

.aboutOnePiece h2 {
    @include border-decoration;
    background-color: map-get($paleta_de_colores,light_w)
}


.featuredOnePiece h2 {
    @include border-decoration;
    background: map-get($paleta_de_colores,light_w);
}

.recommendations h3 {
    margin: 5% auto;
    @include border-decoration;
    background-color: map-get($paleta_de_colores,light_w);
}