.Logo {
    width: 50px;
}
.div1{
    display: flex;
        ul{
            display: flex;
            margin-top: 4%;
                li {
                    display: flex;
                    margin: 10px;
                    font-weight: bold;
                }   
        }
}
.navegationOnePiece {
    @include align-width-flex;
    background-color: map-get($paleta_de_colores,light_w);
    a{
        text-decoration: none;
            h2 {
                display: inline;
                color: map-get($paleta_de_colores,dark_b);
            }
    }      
    ul{ 
        li{ 
            a{
                color: map-get($paleta_de_colores,dark_b);
                text-decoration: none;
            }
        }
    }
}
.navegationTokyoGhoul {
    color: map-get($paleta_de_colores,light_w);
    @include align-width-flex;
    background-color: map-get($paleta_de_colores,dark_b);
    a{
        text-decoration: none;
            h2 {
                display: inline;
                color: map-get($paleta_de_colores,light_w);
            }
    }   
    ul{ 
        li{ 
            a{
                color: map-get($paleta_de_colores,light_w);
                text-decoration: none;
            }
        }
    }
}
.navegationNaruto {
    color: map-get($paleta_de_colores,dark_b);
    @include align-width-flex;
    background-color: map-get($paleta_de_colores,light_w);
    a{
        text-decoration: none;
            h2 {
                display: inline;
                color: map-get($paleta_de_colores,dark_b);
            }
    }   
    ul{ 
        li{ 
            a{
                color: map-get($paleta_de_colores,dark_b);
                text-decoration: none;
            }
        }
    }
}
.navegationBlackClover {
    @include align-width-flex;
    background-color: map-get($paleta_de_colores,dark_b);
    color: map-get($paleta_de_colores,light_w);
    a{
        text-decoration: none;
            h2 {
                display: inline;
                color: map-get($paleta_de_colores,light_w);
            }
    }   
    ul{ 
        li{ 
            a{
                color: map-get($paleta_de_colores,light_w);
                text-decoration: none;
            }
        }
    }
}
.navegationIndex {
    color: map-get($paleta_de_colores,light_w);
    @include align-width-flex;
    background-color: map-get($paleta_de_colores,dark_b);
    a{
        text-decoration: none;
            h2 {
                display: inline;
                color: map-get($paleta_de_colores,light_w);
            }
    }   
    ul{ 
        li{ 
            a{
                color: map-get($paleta_de_colores,light_w);
                text-decoration: none;
            }
        }
    }
}