@media screen and (max-width: 1024px) {
    main {
        font-size: 1rem
    }

    main h2 {
        font-size: 1rem
    }

    .recommendations h3 {
        font-size: 1rem
    }

    .recommendations img {
        width: 20%
    }
}

;

@media screen and (max-width: 720px) {
    main {
        font-size: 1rem;
    }

    main h2 {
        font-size: 1rem;
    }

    .recommendations h3 {
        font-size: 0.8rem
    }

    .recommendations img {
        width: 20%
    }
}

@media screen and (max-width: 400px) {
    main p {
        font-size: 0.8rem;
    }

    main h2 {
        font: 0.8rem;
    }

    .recommendations h3 {
        font-size: 0.7rem
    }

    .recommendations img {
        width: 20%
    }
}

